@{
    ViewData["Title"] = "Completed Projects";
    Layout = "~/Views/Shared/+Layout.cshtml";
}


<h2>@ViewData["Title"]</h2>
<p>This page shows some completed projects</p>
@await Html.PartialAsync("_Sidebar")
