@{
    ViewData["Title"] = "Project Ideas";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewData["Title"]</h2>

<p> This is a list of current ideas that are being brainstormed</p>
@await Html.PartialAsync("_Sidebar")