@{
    ViewData["Title"] = "Current Projects";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewData["Title"]</h2>
<p>Here is a list of current projects</p>
@await Html.PartialAsync("_Navigation")
