<div class="navigation">
    <ul>
    <li><a href="/Projects/Current">Current Projects</a></li>
    <li><a href="/Projects/Completed">Completed Projects</a></li>
    <li><a href="/Preoject/Ideas">Project Ideas</a></li>
    </ul>
</div>